.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration-line: none;
    color: inherit;
}

.footer__column-link:hover {
    opacity: 0.3;
    transition: 3s linear;
}